@using System.Web.Optimization;
@using AccuIT.PresentationLayer.WebAdmin.Core;
@using AccuIT.PresentationLayer.WebAdmin.CustomFilter;
@using AccuIT.BusinessLayer.Services.BO;
@model WeddingBO

<link href="~/Content/Classic/plugins/datepicker/datepicker3.css" rel="stylesheet" />
<link href="~/Content/Classic/plugins/timepicker/bootstrap-timepicker.css" rel="stylesheet" />
@{
    ViewBag.Title = "Couples ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section SidebarMenu{
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    @if (HttpContext.Current.Session[PageConstants.SESSION_PROFILE_KEY] != null)
    {
        var UserInfo = (UserProfileBO)Session[PageConstants.SESSION_PROFILE_KEY];
        if (UserInfo.IsCustomer == true)
        {
            <ul class="sidebar-menu">
                <li class="header">MAIN NAVIGATION</li>
                <!-- Dashboard -->
                <li>

                    <a href="@Url.Action(" index", "Home" )">
                        <i class="fa fa-dashboard"></i><span>Dashboard</span> <small class="label pull-right bg-green">new</small>
                    </a>

                </li>
                <!-- Wedding Manager -->
                <li class="treeview active menu-open">
                    <a href="#">
                        <i class="fa fa-users"></i><span>Wedding</span>
                        <i class="fa fa-angle-left pull-right"></i>
                    </a>
                    <ul class="treeview-menu">
                        <li class="active"><a href="@Url.Action(" index", "Wedding" )"><i class="fa fa-circle-o"></i>Wedding Details</a></li>
                        <li><a href="@Url.Action(" events", "Wedding" )"><i class="fa fa-circle-o"></i>Events</a></li>
                        <li><a href="@Url.Action(" couples", "Wedding" )"><i class="fa fa-circle-o"></i>Couples</a></li>
                    </ul>
                </li>
                <!-- Modules Manager -->
                <li><a href="@Url.Action(" gallery", "Wedding" )"><i class="fa fa-briefcase"></i><span>Gallery</span></a></li>

            </ul>
        }
    }
}

@section breadcrumb{
    <h1>
        Home
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title </li>
    </ol>
}

<div class="box box-default color-palette-box">
    <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-tag"></i> Your Wedding Template - @Model.TemplateName</h3>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-sm-12">
                <a href="@Model.TemplatePreviewUrl" target="_blank">
                    <img width="100%" class="img-responsive" src="@Model.TemplateImageUrl" alt="@Model.TemplateName - Your Wedding Theme (Error loading image!)">
                </a>
            </div>
            <!-- /.col -->
            <!-- /.col -->
        </div>
        <!-- /.row -->
        <!-- /.row -->
    </div>
    <!-- /.box-body -->
</div>

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm())
            {

                @Html.HiddenFor(m => m.CreatedDate)
                @Html.HiddenFor(m => m.CreatedBy)
                @Html.HiddenFor(m => m.WeddingID)
                @Html.HiddenFor(m => m.TemplateID)
                @Html.HiddenFor(m => m.WeddingDate)


                <div class="box-header">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="row">
                        <!-- full column -->
                        <div class="col-md-12">
                            <!-- /.box -->
                            <div class="box box-danger">
                                <div class="box-header">
                                    <h3 class="box-title">Wedding Details</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">

                                        <div class="col-xs-2">
                                            <label for="exampleInputEmail1">Wedding Date</label>
                                            <div class="input-group date">
                                                <div class="form-group">
                                                    <div class="input-group date">
                                                        @Html.HiddenFor(model => model.WeddingID)
                                                        <div class="input-group-addon">
                                                            <i class="fa fa-calendar"></i>
                                                        </div>
                                                        @Html.TextBoxFor(model => model.strWeddingDate, new { id = "datepicker", @class = "form-control pull-righ", @required = true })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="exampleInputEmail1">Wedding Title</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @required = true, @placeholder = "Enter Wedding Title" })
                                            </div>
                                        </div>
                                        <div class="col-xs-2">
                                            <label for="exampleInputEmail1">Wedding Style</label>
                                            <div class="form-group">

                                                @Html.TextBoxFor(model => model.WeddingStyle, new { @class = "form-control", @required = true, @placeholder = "Enter your Wedding Style" })
                                            </div>
                                        </div>
                                        <div class="col-xs-1">
                                            <label for="exampleInputEmail1">Love Marriage? </label>
                                            <div class="form-group">
                                                @Html.EditorFor(model => model.IsLoveMarriage, new { @class = "form-control", @required = true })
                                            </div>
                                        </div>
                                        <div class="col-xs-3">
                                            <label for="exampleInputEmail1">Weddding Logo </label>
                                            <div class="form-group">
                                                <input type="file" id="fileupload" name="file">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->

                        </div>
                        <!--/.col (left) -->

                    </div>
                    <!-- /.box -->
                    @*<div class="jumbotron">
                            <form action="~/Home/Upload" class=" dropzone" id="dropzoneJsForm" style="background-color:#c1d3e0; width: 125px;height: 125px;"></form>
                        </div>*@
                </div>
                <div class="box-footer" style="text-align: center;">
                    <button type="submit" id="submit" value="Save" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>