@using AccuIT.PresentationLayer.WebAdmin.Core;
@using AccuIT.PresentationLayer.WebAdmin.CustomFilter;
@using AccuIT.BusinessLayer.Services.BO;
@using AccuIT.PresentationLayer.WebAdmin.ViewDataModel;
@model WeddingViewModel

@{
    ViewBag.Title = "Update Add Wedding Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section SidebarMenu{
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    @if (HttpContext.Current.Session[PageConstants.SESSION_PROFILE_KEY] != null)
    {
        var UserInfo = (UserProfileBO)Session[PageConstants.SESSION_PROFILE_KEY];

        <ul class="sidebar-menu">
            <li class="header">MAIN NAVIGATION</li>
            <!-- Dashboard -->
            <li>

                <a href="@Url.Action("index", "Home" )">
                    <i class="fa fa-dashboard"></i><span>Dashboard</span> <small class="label pull-right bg-green">new</small>
                </a>

            </li>
            <!-- Wedding Manager -->

            <li class="treeview menu-open">

                <a href="#">
                    <i class="fa fa-files-o"></i> <span>Templates</span>
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right"></span>
                    </span>

                </a>
                @foreach (var item in @UserInfo.userWeddingTemplates)
                {
                    <ul class="treeview-menu" style="display: block;">

                        <li class="treeview menu-open">
                            <a href="#">
                                <i class="fa fa-files-o"></i><span>@item.userTemplate.TemplateName</span>
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-left pull-right"></i>
                                </span>
                            </a>
                            <ul class="treeview-menu" style="display: block;">

                                @if (item.userWedding.WeddingID > 0)
                                {

                                    <li class="active">
                                        <a href="@Url.Action("create", "Wedding" , new { tid=item.userTemplate.TemplateID, weddingid=item.userWedding.WeddingID })">
                                            <i class="fa fa-circle-o"></i>@item.userWedding.Title
                                        </a>
                                    </li>

                                }
                                else
                                {
                                    <li>
                                        <a href="@Url.Action("create", "Wedding", new { tid = item.userTemplate.TemplateID, weddingid = 0 })">
                                            <i class="fa fa-circle-o"></i>Wedding
                                            <span class="pull-right-container">
                                                <small class="label pull-right bg-red">Create </small>
                                            </span>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </li>

                    </ul>
                }

            </li>

            <!-- Modules Manager -->
            <li><a href="@Url.Action("gallery", "Wedding" )"><i class="fa fa-briefcase"></i><span>Gallery</span></a></li>

        </ul>

    }
}

@section breadcrumb{
    <h1>
        Home
        <small>@ViewBag.Title</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">@ViewBag.Title </li>
    </ol>
}

@using (Html.BeginForm("SubmitEvent", "Wedding", new { HttpMethod = "POST" }))
{

    <div class="box box-danger">
        @Html.HiddenFor(m => m.WeddingEventsBO.WeddingID, new { id = "hdnweddingID" })
        @Html.HiddenFor(m => m.WeddingEventsBO.IsActive)
        @Html.HiddenFor(m => m.WeddingEventsBO.IsDeleted)
        @Html.HiddenFor(m => m.WeddingEventsBO.WeddingEventID)
        <div class="box-body">

            <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">
                Wedding Event | @Model.WeddingEventsBO.Name
            </h4>

            <div class="media">
                <div class="col-md-6">
                    <div class="media-left">
                        @Html.HiddenFor(model => model.WeddingEventsBO.ImageUrl, new { id = "eventimageUrl" })
                        <img src="@Model.WeddingEventsBO.ImageUrl" id="imgEventPreview" alt="Appzia" class="media-object" style="height: 130px;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                        <br /> <p for="exampleInputEmail1" id="lbleventimage">Upload Event Image </p>
                        <div class="form-group">
                            <input type="file" id="uploadEventImage" data-id="@Model.WeddingEventsBO.WeddingEventID" data-imageof="Event" data-imgtype="Event" data-sequence="1" />
                        </div>
                        <div class="progress progress-sm active" id="progresseventimg" style="display:none">
                            <div class=" progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style=" width:0%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    </div>

                    <div class="media-left">
                        @Html.HiddenFor(model => model.WeddingEventsBO.BackGroundImage, new { id = "eventBackGroundImageUrl" })
                        <img src="@Model.WeddingEventsBO.BackGroundImage" id="BackGroundImageEventPreview" alt="Appzia" class="media-object" style="height: 130px;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                        <br /> <p for="exampleInputEmail1" id="lbleventBackGroundImage">Upload Background Event Image </p>
                        <div class="form-group">
                            <input type="file" id="uploadEventBackGroundImage" data-id="@Model.WeddingEventsBO.WeddingEventID" data-imageof="Background" data-imgtype="Event" data-sequence="1" />
                        </div>
                        <div class="progress progress-sm active" id="progressEventBackGroundImage" style="display:none">
                            <div class=" progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style=" width:0%">
                                <span class="sr-only">20% Complete</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="media-body">
                    <div class="box-body">
                        <div class="row">

                            @Html.HiddenFor(model => model.WeddingEventsBO.WeddingEventID, new { id = "hdEventID" })

                            <div class="col-md-12">
                                <label for="exampleInputEmail1">Event Name</label>
                                <div class="form-group">
                                    @Html.TextBoxFor(model => model.WeddingEventsBO.Title, new { @class = "form-control", @required = true, @placeholder = "Enter Event Name" })
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="exampleInputEmail1">Event Date</label>
                                <div class="input-group date">
                                    <div class="form-group">
                                        <div class="input-group date">
                                            <div class="input-group-addon">
                                                <i class="fa fa-calendar"></i>
                                            </div>
                                            @Html.TextBoxFor(model => model.WeddingEventsBO.EventDate, new { id = "eventDate", @class = "form-control pull-right", @required = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <div class="input-group">
                                            @Html.HiddenFor(model => model.WeddingEventsBO.StartTime)
                                            @Html.TextBoxFor(model => model.WeddingEventsBO.strStartTime, new { id = "eventStartTime", @class = "form-control timepicker", @required = true })
                                            @*<input class="form-control timepicker" data-val="true" data-val-required="Please Enter Start Time" id="Start_Time" rel="time" name="Start_Time" type="text" value="@Model.WeddingEventsBO.StartTime.ToString("HH:00")" />*@

                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="bootstrap-timepicker">
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <div class="input-group">
                                            @Html.HiddenFor(model => model.WeddingEventsBO.EndTime)
                                            @Html.TextBoxFor(model => model.WeddingEventsBO.strEndTime, new { id = "eventEndTime", @class = "form-control timepicker", @required = true })
                                            <div class="input-group-addon">
                                                <i class="fa fa-clock-o"></i>
                                            </div>
                                        </div>
                                        <!-- /.input group -->
                                    </div>
                                    <!-- /.form group -->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="exampleInputEmail1">About Event</label>
                                <div class="form-group" style="max-width:550px">
                                    @Html.TextAreaFor(model => model.WeddingEventsBO.Aboutevent, new { id = "eventTitle", @class = "form-control", @required = true, @placeholder = "Enter your Event Heading" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <!-- Custom Tabs -->
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs">
                    <li class="active" style=" width:100%; background-color: #f7f7f7;font-size: 18px;text-align: center;padding: 7px 10px;margin-top: 0;">
                        <a href="#tab_1" data-toggle="tab" aria-expanded="true">Event Venue</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_1">

                        @Html.HiddenFor(model => model.WeddingEventsBO.Venue.VenueID, new { id = "hdVenueID" })
                        @Html.HiddenFor(model => model.WeddingEventsBO.Venue.WeddingEventID)
                        @Html.HiddenFor(model => model.WeddingEventsBO.Venue.IsActive)
                        @Html.HiddenFor(model => model.WeddingEventsBO.Venue.IsDeleted)
                        @Html.HiddenFor(model => model.WeddingEventsBO.Venue.VenueAddress.AddressID)
                        <div class="media">
                            @Html.HiddenFor(model => model.WeddingEventsBO.Venue.VenueImageUrl, new { id = "venueimageUrl" })
                            <div class="media-left">
                                <img src="@Model.WeddingEventsBO.Venue.VenueImageUrl" id="imgVenuePreview" alt="Appzia" class="media-object" style=";height: 130px;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                <br /> <p for="exampleInputEmail1" id="lblVenueimage">Upload Venue Image </p>
                                <div class="form-group">
                                    <input type="file" id="uploadVenueImage" data-id="@Model.WeddingEventsBO.Venue.VenueID" data-imageof="Venue" data-imgtype="Venue" data-sequence="1" />
                                </div>
                                <div class="progress progress-sm active" id="progressVenueimg" style="display:none">
                                    <div class=" progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style=" width:0%">
                                        <span class="sr-only">20% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="media-body">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Venue Name</label>
                                        @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.Name, new { @class = "form-control", @required = true, @placeholder = "Venue Name" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contact Person Name</label>
                                        @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.OwnerName, new { @class = "form-control", @required = true, @placeholder = "Contact Person" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Contact Person Mobile</label>
                                        @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.VenueMobile, new { @class = "form-control", @required = true, @placeholder = "Contact Mobile" })
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Venue Phone</label>
                                        @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.VenuePhone, new { @class = "form-control", @required = true, @placeholder = "Venue Phone" })
                                        <!-- /.input group -->
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Address 1</label>
                                    @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.VenueAddress.Address1, new { @class = "form-control", @required = true, @placeholder = "House No/ Flat No/ Building No/ Floor" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Address 2</label>
                                    @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.VenueAddress.Address2, new { @class = "form-control", @required = true, @placeholder = "Area/ Building/ Society" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>City</label>
                                    @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.VenueAddress.City, new { @class = "form-control", @required = true, @placeholder = "City" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>State</label>
                                    @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.VenueAddress.State, new { @class = "form-control", @placeholder = "State" })
                                    <!-- /.input group -->
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Zip Code</label>
                                    @Html.TextBoxFor(model => model.WeddingEventsBO.Venue.VenueAddress.PinCode, new { @class = "form-control", @required = true, @placeholder = "Area Pin Code" })
                                </div>
                            </div>
                        </div>
                        <div class="box-footer" style="text-align: center; border-bottom:1px solid #f4f4f4;">
                            <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Cancel</button>

                            <button type="submit" id="submit" value="Submit" class="btn btn-primary pull-right">Submit</button>
                        </div>
                    </div>
                    <!-- /.tab-pane -->

                </div>
                <!-- /.tab-content -->
            </div>
            <!-- nav-tabs-custom -->
        </div>
        <!-- /.col -->
        <!-- /.col -->
    </div>
}

@section Scripts{
    <script src="~/Content/js/Wedding.js"></script>

}



