@using System.Web.Optimization;
@using AccuIT.PresentationLayer.WebAdmin.Core;
@using AccuIT.PresentationLayer.WebAdmin.CustomFilter;
@using AccuIT.BusinessLayer.Services.BO;
@using AccuIT.PresentationLayer.WebAdmin.ViewDataModel;
@model WeddingViewModel



@{
    ViewBag.Title = "User Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Scripts/dropzone/dropzone.min.css" rel="stylesheet" />

@section SidebarMenu{
    <!-- search form -->
    <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
            <input type="text" name="q" class="form-control" placeholder="Search..." />
            <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
            </span>
        </div>
    </form>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    @if (HttpContext.Current.Session[PageConstants.SESSION_PROFILE_KEY] != null)
    {
        var UserInfo = (UserProfileBO)Session[PageConstants.SESSION_PROFILE_KEY];
        var weddingInfo = (List<UserWeddingSubscriptionBO>)Session[PageConstants.SESSION_WEDDING_PROFILE];
        if (UserInfo.IsEmployee == false)
        {
            <ul class="sidebar-menu ">
                <li class="header">MAIN NAVIGATION</li>
                <!-- Dashboard -->
                <li class="active">

                    <a href="@Url.Action("index", "Home" )">
                        <i class="fa fa-dashboard"></i><span>Dashboard</span> <small class="label pull-right bg-green">new</small>
                    </a>

                </li>
                <!-- Wedding Manager -->

                <li class="treeview">

                    <a href="#">
                        <i class="fa fa-share"></i> <span>Templates</span>
                        <span class="pull-right-container">
                            <span class="label label-primary pull-right"><i class="fa fa-angle-left pull-right"></i></span>
                        </span>

                    </a>

                    <ul class="treeview-menu" style="display: none;">

                        <li class="treeview">
                            @foreach (var item in Model.listTemplates)
                            {
                                <a href="#">
                                    <i class="fa fa-files-o"></i><span>@item.TemplateName</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    @foreach (var wedd in Model.userSubscriptions)
                                    {
                                        if (wedd.WeddingID > 0)
                                        {

                                            <li class="">
                                                <a href="@Url.Action("Index", "Wedding", new { wedding = wedd.Wedding.Title, Id = wedd.WeddingID })">
                                                    <i class="fa fa-circle-o"></i>@wedd.Wedding.Title
                                                </a>
                                            </li>

                                        }
                                        else
                                        {
                                            <li>
                                                <a href="@Url.Action("Index", "Wedding", new { wedding = "Create-New-Wedding", weddingID = item.TemplateID })">
                                                    
                                                    <i class="fa fa-circle-o"></i>Wedding
                                                    <span class="pull-right-container">
                                                        <small class="label pull-right bg-red">Create </small>
                                                    </span>
                                                </a>
                                            </li>
                                        }
                                    }

                                </ul>
                            }
                        </li>

                    </ul>

                </li>

                <!-- Modules Manager -->
                <li><a href="@Url.Action(" gallery", "Wedding" )"><i class="fa fa-briefcase"></i><span>Gallery</span></a></li>

            </ul>
        }
    }
}

@section breadcrumb{
    <h1>
        Home
        <small>Profile Information</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Profile Information </li>
    </ol>
}

<div class="row">
    <div class="col-xs-12">
        <div class="box">
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {

                @Html.HiddenFor(m => m.userProfile.UserID)

                <div class="box-header">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div class="row">
                        <!-- left column -->
                        <div class="col-md-6">
                            <!-- /.box -->
                            <div class="box box-danger">
                                <div class="box-header">
                                    <h3 class="box-title">Basic Details</h3>
                                </div>
                                <div class="box-body">
                                    <div class="row">

                                        <div class="col-xs-4">
                                            <label for="exampleInputEmail1">Customer ID</label>
                                            <div class="form-group">
                                                @Html.HiddenFor(model => model.userProfile.UserID)
                                                @Html.TextBoxFor(model => model.userProfile.UserID, new { @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <div class="form-group">
                                                <label for="exampleInputEmail1">Member Since</label>
                                                @Html.TextBoxFor(model => model.userProfile.CreatedDate, new { @class = "form-control", @readonly = "readonly", @placeholder = "Member Since" })

                                            </div>
                                        </div>
                                        <div class="col-xs-4">
                                            <label for="exampleInputEmail1">Account Status</label>
                                            <div class="form-group">
                                                <input class="form-control" value="Active" readonly="readonly" />
                                                @Html.HiddenFor(model => model.userProfile.AccountStatus)
                                            </div>
                                        </div>

                                    </div>

                                    <div class="row">
                                        @*<div class="col-xs-6">
                                                <label for="exampleInputEmail1">Login ID </label>
                                                <div class="form-group">
                                                    @Html.TextBoxFor(model => model.userProfile.LoginName, new { @class = "form-control", @readonly = "readonly", @required = true })
                                                </div>

                                            </div>*@
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <label>Email Address</label>
                                                @Html.TextBoxFor(model => model.userProfile.Email, new { @class = "form-control", @placeholder = "Your Email*", required = true, maxlength = "150" })

                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                            <!-- /.box -->

                            <div class="box box-success">
                                <div class="col-sm-12 col-md-12">
                                    <div class="box box-solid">


                                        <div class="box-body">
                                            <h4 style="background-color:#f7f7f7; font-size: 18px; text-align: center; padding: 7px 10px; margin-top: 0;">YOUR TEMPLATES</h4>
                                            @if (HttpContext.Current.Session[PageConstants.SESSION_PROFILE_KEY] != null)
                                            {
                                                var UserInfo = (UserProfileBO)Session[PageConstants.SESSION_PROFILE_KEY];
                                                var weddingInfo = (List<UserWeddingSubscriptionBO>)Session[PageConstants.SESSION_WEDDING_PROFILE];
                                                if (weddingInfo.Count > 0)
                                                {
                                                    foreach (var item in weddingInfo)
                                                    {
                                                        <div class="media">
                                                            <div class="media-left">
                                                                <a href="" class="ad-click-event">
                                                                    <img src="@item.TemplateMaster.ThumbnailImageUrl" alt="@item.TemplateMaster.TemplateName" class="media-object" style="width: 150px;height: auto;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                                                </a>
                                                            </div>
                                                            <div class="media-body">
                                                                @if (item.Wedding != null)
                                                                {
                                                                   

                                                                        <div class="clearfix">
                                                                            <p class="pull-right">
                                                                                <a href="@Url.Action("Index", "Wedding", new { Id = @item.Wedding.WeddingID })" class="btn btn-success btn-sm ad-click-event">
                                                                                    VIEW WEDDING INFO
                                                                                </a>
                                                                            </p>

                                                                            <h4 style="margin-top: 0">@item.TemplateMaster.TemplateName</h4>

                                                                            <p>You have added a wedding for this template. View Info</p>
                                                                            <p style="margin-bottom: 0">
                                                                                <a href="@item.TemplateMaster.TemplatePreviewUrl" target="_blank"><i class="fa fa-camera margin-r5"></i> Preview Template</a>
                                                                            </p>
                                                                        </div>
                                                                    
                                                                }
                                                                else
                                                                {
                                                                    <div class="clearfix">
                                                                        <p class="pull-right">
                                                                            <a href="@Url.Action("Create", "Wedding", new { tid = item.TemplateID })" class="btn btn-success btn-sm ad-click-event">
                                                                                ADD WEDDING INFO
                                                                            </a>

                                                                        </p>

                                                                        <h4 style="margin-top: 0">@item.TemplateMaster.TemplateName</h4>

                                                                        <p>No wedding created for this template.</p>
                                                                        <p style="margin-bottom: 0">
                                                                            <a href="@item.TemplateMaster.TemplatePreviewUrl" target="_blank"><i class="fa fa-camera margin-r5"></i> Preview Template</a>
                                                                        </p>
                                                                    </div>
                                                                }

                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!--/.col (left) -->
                        <!-- right column -->
                        <div class="col-md-6">
                            <div class="box box-warning">
                                <div class="box-header">
                                    <h3 class="box-title">User Information</h3>
                                    @Html.HiddenFor(model => @model.userProfile.UserID, new { id = "hdUserId" })
                                </div>
                                <div class="box-body">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="exampleInputEmail1">First Name</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.userProfile.FirstName, new { @class = "form-control", @placeholder = "First Name*", @readonly = "readonly" })
                                            </div>

                                        </div>
                                        <div class="col-xs-6">
                                            <label for="exampleInputEmail1">Last Name</label>
                                            <div class="form-group">

                                                @Html.TextBoxFor(model => model.userProfile.LastName, new { @class = "form-control", @placeholder = "Last Name*", @readonly = "readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <label for="exampleInputEmail1">Phone No</label>
                                            <div class="form-group">

                                                @Html.TextBoxFor(model => model.userProfile.Phone, new { @class = "form-control", @placeholder = "Phone*", required = true, maxlength = "15" })
                                            </div>

                                        </div>
                                        <div class="col-xs-6">
                                            <label for="exampleInputEmail1">Mobile No</label>
                                            <div class="form-group">
                                                @Html.TextBoxFor(model => model.userProfile.Mobile, new { @class = "form-control", @placeholder = "Mobile*", required = true, maxlength = "15" })
                                            </div>
                                        </div>

                                    </div>
                                    <div class="media" style="  border-style: ridge;">
                                        <div class="media-left">
                                            <img src="@Model.userProfile.ImagePath" id="imgUserPreview" alt="User Image" class="media-object" style="height: 125px;border-radius: 4px;box-shadow: 0 1px 3px rgba(0,0,0,.15);">
                                            @Html.HiddenFor(model => @model.userProfile.ImagePath, new { id = "hdUserImageUrl" })
                                        </div>
                                        <div class="media-body" style="vertical-align: middle;">
                                            <div class="clearfix">
                                                <p for="exampleInputEmail1" id="lblUserimage">Upload User Image </p>
                                                <div class="form-group" style="padding-left:10px">
                                                    <input type="file" id="uploadUserImage" data-id="@Model.userProfile.UserID" data-imgtype="User" data-sequence="@Model.userProfile.UserID" />
                                                </div>
                                                <div class="progress progress-sm active" id="progressUserImg" style="display:none">
                                                    <div class=" progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style=" width:0%">
                                                        <span class="sr-only"></span>
                                                    </div>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                    <!-- /.box-body -->
                                </div>
                            </div>
                            <!-- /.box -->

                        </div>
                        <!-- textarea -->

                    </div>
                    <!-- /.box -->
                    @*<div class="jumbotron">
                            <form action="~/Home/Upload" class=" dropzone" id="dropzoneJsForm" style="background-color:#c1d3e0; width: 125px;height: 125px;"></form>
                        </div>*@
                </div>
                <div class="box-footer" style="text-align: center;">
                    <button type="submit" id="submit" value="Save" class="btn btn-primary">Submit</button>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{

    @*<script src="~/Scripts/dropzone/dropzone.min.js"></script>
        <script src="~/Content/Classic/bootstrap/js/bootstrap.min.js"></script>
            <script type="text/javascript">
                Dropzone.options.dropzoneForm =
              {
                  init: function () {
                      this.on("complete", function (data) {
                          var res = JSON.parse(data.xhr.responseText);
                      });
                  }
              };
            </script>*@


    <script src="~/Content/js/ExcelUpload.js"></script>
    @*<script language="javascript" type="text/javascript">
            $(function () {
                $("#fileupload").change(function () {
                    $("#dvPreview").html("");
                    var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                    if (regex.test($(this).val().toLowerCase())) {
                        if ($.browser.msie && parseFloat(jQuery.browser.version) <= 9.0) {
                            //$("#dvPreview").show();
                            $("#dvPreview")[0].filters.item("DXImageTransform.Microsoft.AlphaImageLoader").src = $(this).val();
                        }
                        else {
                            if (typeof (FileReader) != "undefined") {
                                var reader = new FileReader();
                                reader.onload = function (e) {
                                    $("#oldPreview").attr("src", e.target.result);
                                }
                                reader.readAsDataURL($(this)[0].files[0]);
                            } else {
                                alert("This browser does not support FileReader.");
                            }
                        }
                    } else {
                        alert("Please upload a valid image file.");
                    }
                });
            });
        </script>*@
}
