@model AccuIT.PresentationLayer.WebAdmin.Models.ManageUserViewModel
@{
    ViewBag.Title = "Change your Password";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
}

<input id="ShowPopup" name="ShowPopup" type="hidden" value="@ViewBag.ShowPopup" />
<input id="ShowErrPopup" name="ShowErrPopup" type="hidden" value="@ViewBag.ShoErrwPopup" />
<input id="ShowForm" name="ShowForm" type="hidden" value="@ViewBag.ShowForm" />
<input id="hdnUniqueID" name="hdnUniqueID" type="hidden" value="@ViewBag.hdnUniqueID" />
<div class="login-box-body">
    @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post))
    {
        <input type="hidden" name="hdnUniqueID" value="@ViewBag.hdnUniqueID">
        @Html.AntiForgeryToken()

        if (@ViewBag.ErrMessage != null)
        {
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                <h4><i class="icon fa fa-warning"></i> Alert!</h4>
                @ViewBag.ErrMessage

            </div>
            <p>
                <a href="@Url.Action("Login", "Account")">Go Back to Login</a>
            </p>

        }
        if (@ViewBag.ShowForm == true)
        {
            @*<div class="alert alert-warning alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    @ViewBag.Message
                </div>*@


            @Html.ValidationMessageFor(m => m.ConfirmPassword)
            <p class="login-box-msg"><strong>Change Password</strong></p>
            <form action="#" method="post">

                @*<div class="form-group has-feedback">
                        @Html.TextBoxFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Old Password", type = "password" })
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>*@
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.NewPassword, new { @class = "form-control", placeholder = "New Password", type = "password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password", type = "password" })
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="row">
                    <div class="col-xs-4">
                        <button type="submit" id="submit" value="Save" class="btn btn-primary">Submit</button>
                    </div><!-- /.col -->
                </div>
                <br />

            </form>
        }
       
    }

</div><!-- /.login-box-body -->


<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Reset Password Success!</h4>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Message</p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <a href="@Url.Action("Login", "Account")" class="btn btn-primary">Go To Login</a>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->