@model AccuIT.PresentationLayer.WebAdmin.Models.LoginViewModel

<meta charset="UTF-8">
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_Layout_Account.cshtml";
}

@using (Html.BeginForm("ForgetPassword", "Account", FormMethod.Post))
{
    <input id="ShowPopup" name="ShowPopup" type="hidden" value="@ViewBag.ShowPopup" />
    @Html.AntiForgeryToken()

    <p class="login-box-msg">Enter valid UserName / Email</p>
    <div class="form-group has-feedback">
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "Email", type = "email", required = true })
        @Html.ValidationMessageFor(m => m.UserName)
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button type="submit" id="submit" value="Save" class="btn btn-primary">Submit</button>
        </div><!-- /.col -->

    </div>
    <div style="color:red">@ViewBag.Message</div>
}

<div class="modal fade" id="modal-success">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Reset Password</h4>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Message</p>
            </div>
            <div class="modal-footer" style="text-align:center">
                <a href="@Url.Action("Login", "Account")"><button type=" button" class="btn btn-primary">Go To Login</button></a>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
